<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Irongrafana</title>
    <link rel="stylesheet" href="stylesheets/reset.css" />
    <link rel="stylesheet" href="javascripts/dragula/dist/dragula.min.css" />
    <link rel="stylesheet" href="stylesheets/style.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Titillium+Web&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <div>
        <img src="images/ironhack.svg" alt="" />
        <h1>Irongrafana</h1>a
      </div>
      <button id="refresh">Refresh</button>
    </header>
    <div class="charts-container">
      <div class="wrapper">
        <div id="left-lovehandles" class="container">
          <div class="chart-container">
            <span class="handle"></span>
            <canvas id="canvas1"></canvas>
          </div>
        </div>
        <div id="right-lovehandles" class="container">
          <div class="chart-container">
            <span class="handle"></span>
            <canvas id="canvas2"></canvas>
          </div>
          <div class="chart-container">
            <span class="handle"></span>
            <canvas id="canvas3"></canvas>
          </div>

          <div class="chart-container">
            <span class="handle"></span>
            <canvas id="canvas4"></canvas>
          </div>
        </div>
      </div>
    </div>

    <script src="javascripts/chart.js/dist/Chart.bundle.js"></script>
    <script src="javascripts/axios/dist/axios.js"></script>
    <script src="javascripts/dragula/dist/dragula.min.js"></script>
    <script src="javascripts/app.js"></script>
  </body>
</html>
